<launch>
    <node name="gmapping" pkg="gmapping" type="slam_gmapping">
    <param name="base_frame" value="robo/base"/>
    <param name="odom_frame" value="robo/odom"/>
    <param name="maxUrange" value="5.0"/>
    <param name="xmin" value="-5.0"/>
    <param name="ymin" value="-5.0"/>
    <param name="xmax" value="5.0"/>
    <param name="ymax" value="5.0"/>
    <param name="delta" value="0.1"/>
    
    </node>
    <node pkg="move_base" type="move_base" respawn="false" name="my_move_base" output="screen">
    <rosparam file="move_data/move_base_params.yaml" command="load" />
        <rosparam file="move_data/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="move_data/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="move_data/local_costmap_params.yaml" command="load" /> 
        <rosparam file="move_data/global_costmap_params.yaml" command="load" /> 
        <rosparam file="move_data/base_local_planner_params.yaml" command="load" /> 
        <remap from="cmd_vel" to="roomba_1/cmd_vel"/>
    </node> 
</launch> 